# Development environment overrides
replicaCount: 1

image:
  pullPolicy: Always

service:
  type: NodePort

ingress:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

autoscaling:
  enabled: false

env:
  DEBUG: "True"
